



<div class="registration container d-flex justify-content-center align-items-center w-100" >
  <form #addTeacherForm="ngForm" class="bg-light p-4" (ngSubmit)="addTeacher(addTeacherForm.value)">
    <h5 class="text-center">Add Teacher</h5>
  <input class="form-control my-2" type="text" ngModel name="email" id="" placeholder="Email">  
  <input class="form-control my-2" type="number" ngModel name="mobile" id="" placeholder="Mobile">  
  <input class="form-control my-2" type="name" ngModel name="name" id="" placeholder="Name">
  <input class="form-control my-2" type="text"  ngModel="Teacher" name="userType" hidden id="">
  
  <select class="form-select" name="gender" ngModel id="">
    <option value="">Select Gender</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>

  <input class="form-control my-2" type="password" ngModel name="password" id="" placeholder="Password">  
  <input class="form-control my-2" type="password" id="" placeholder="Confirm Password">  
  <button class="btn btn-primary text-uppercase w-100">Submit</button>
</form>
</div>
