ion-toolbar{
    --background: #00031f;
}

.menu-button{
    color: #fff !important;
}
.registration{
    height: 100vh;
}

.title{
    // padding-left: 10px !important; 
    color: #fff !important;
}
