<ion-content>
<div  class="main ion-padding ">
  <h2 class="pt-2 mt-5">Dashboard</h2>
  <ion-card class="text-center" color="dark">
    <ion-card-header>
      <ion-card-title>{{teacherCount}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Teacher Count
    </ion-card-content>
  </ion-card>

  <ion-card class="text-center" color="dark">
    <ion-card-header>
      <ion-card-title>{{studentCount}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Student Count
    </ion-card-content>
  </ion-card>

  <ion-card class="text-center" color="dark">
    <ion-card-header>
      <ion-card-title>{{courseCount}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Course Count
    </ion-card-content>
  </ion-card>
</div>
</ion-content>